<div class="content">
  <h1>Tags</h1>
  <img src="assets/tags.gif">
  <h2>
    The goal of this exercise is to reproduce the behaviour shown in this gif
  </h2>
  <h3>
    Given the limited time available, implement in priority order:
  </h3>

  <ul>
    <li>
      General layout
    </li>
    <li>
      Possibility to rename the Master tag
    </li>
    <li>
      Possibility to add and remove tags
    </li>
    <li>
      Possibility to name the tag to be added
    </li>
    <li>
      Imagine that performances might be a concern
    </li>
    <li>
      The +n behaviour when the space is too narrow to show every tags<br>
      (Think of all the ways for the available space to change)
    </li>
    <li>
      Now, tags come from a (slow) api
    </li>
  </ul>
</div>
